{
  "swagger": {
    "jsonPath": "{{ getv "/configuration/swagger/jsonPath" "/api-json" }}",
    "uiPath": "{{ getv "/configuration/swagger/uiPath" "/api-docs" }}"
  },
  "logger": {
    "level": "{{ getv "/configuration/logger/level" "error" }}"
  },
  "kafka": {
    "clientId": "{{ getv "/configuration/kafka/clientId" "exporter-trigger" }}",
    "brokers": {{ getv "/configuration/kafka/brokers" "[\"10.28.11.49:9092\"]" }},
    "topic": "{{ getv "/configuration/kafka/topic" "topic-test-7" }}"
  }  
}
