{
  "swagger": {
    "jsonPath": "{{ getv "/configuration/swagger/jsonPath" "/api-json" }}",
    "uiPath": "{{ getv "/configuration/swagger/uiPath" "/api-docs" }}",
    "portOverride": "{{ getv "/configuration/swagger/port" "80" }}"
  },
  "logger": {
    "level": "{{ getv "/configuration/logger/level" "error" }}"
  },
  "kafka": {
    "clientId": "{{ getv "/configuration/kafka/clientId" "exporter-trigger" }}",
    "brokers": {{ getv "/configuration/kafka/brokers" "[\"10.28.11.49:9092\"]" }},
    "topic": "{{ getv "/configuration/kafka/topic" "topic-test-7" }}"
  },
  "commonStorage": {
    "url": "{{ getv "/configuration/elastic/node" "http://127.0.0.1:8080" }}",
    "index": "{{ getv "/configuration/elastic/index" "test" }}"
  }
}
